.register-page {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: var(--secondary-font);

    .register-wrap {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);

        // border: 2px solid cadetblue;
        .left-wrap {
            width: 60%;
            height: 100%;
            // border: 1px solid ghostwhite;
            padding: 25px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .logo {
                img {
                    width: 200px;
                    // border: 1px solid beige;
                }

            }

            .left-details {
                margin-bottom: 200px;
                display: flex;
                flex-direction: column;
                gap: 20px;

            }
        }

        .right-wrap {
            width: 40%;
            height: 100%;
            // border: 1px solid ghostwhite;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding: 25px;
            box-sizing: border-box;

            h1 {
                font-family: var(--secondary-font);

            }

            form {
                width: 100%;
                height: 100%;
                margin-top: 30px;
                // border: 1px solid azure;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                .row {
                    width: 70%;
                    height: 40px;
                    // border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    input {
                        width: 100%;
                        height: 100%;
                        border: none;
                        background: transparent;
                        // margin-left: 10px;
                        border-bottom: 2px solid var(--secondary-color);
                        outline: none;
                        color: gray;
                        font-size: 15px;



                    }

                    .register-btn {
                        padding: 10px 20px;
                        background: var(--secondary-color);
                        color: white;
                        border-radius: 5px;
                        border: none;
                        outline: none;


                    }

                }


            }
        }

    }
}

@media screen and (max-width : 990px) {

    .register-page {

        .register-wrap {
            width: 100%;
            height: 100%;
            flex-direction: column;

            .left-wrap {
                height: 100px;
                width: 100%;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                padding: 15px 0;


                .logo {}

                .left-details {
                    display: none;

                }
            }

            .right-wrap {
                width: 100%;
                height: 100%;
                margin: 35px 0;

                form {
                    margin: 60px;

                    .row {
                        width: 90%;

                        input {}

                        .register-btn {}
                    }
                }
            }
        }
    }



}