.register-page {
    width: 100%;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: var(--secondary-font);
    position: relative;
    background-size: cover;
    background-position: center;

    .animated-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        img {
            &:nth-child(1) {
                position: absolute;
                width: 200px;
                bottom: -100%;
                left: 0%;
                animation: bubble 9s ease-in-out infinite;
                animation-delay: 0s;
            }

            &:nth-child(2) {

                position: absolute;
                // width: 200px;
                bottom: -100%;
                left: 17%;
                animation: bubble 9s ease-in-out infinite;
                animation-delay: 2s;
            }

            &:nth-child(3) {
                width: 80px;
                position: absolute;
                // width: 200px;
                bottom: -100%;
                left: 62%;
                animation: bubble 9s ease-in-out infinite;
                animation-delay: 4s;
            }

            &:nth-child(4) {
                // width: 80px;
                position: absolute;
                // width: 200px;
                bottom: -100%;
                left: 60%;
                animation: bubble 9s ease-in-out infinite;
                animation-delay: 6s;
            }
        }
    }




    .register-wrap {
        width: 80%;
        height: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        // background: rgba(255, 255, 255, 0.1);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        // background: url("https://ik.imagekit.io/egjzyz51e/shivaji.jpg?updatedAt=1678529045714");
        // background: url("https://ik.imagekit.io/dexo68yudb/Untitled.gif?updatedAt=1678730288784");
        background-position: bottom;
        background-size: cover;

        // border: 2px solid cadetblue;
        .left-wrap {
            width: 60%;
            height: 100%;
            // border: 1px solid ghostwhite;
            padding: 25px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            gap: 30px;

            .logo {
                img {
                    width: 200px;
                }
            }

            .left-details {
                margin-bottom: 200px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                text-align: center;
                align-items: center;

                h4 {
                    text-align: center;

                }

                img {
                    width: 300px;
                    text-align: center;
                    margin: 10px 0;
                }

                .divider {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 5px;

                    &::before {
                        content: "";
                        width: 100px;
                        height: 1px;
                        background: grey;

                    }

                    &::after {
                        content: "";
                        width: 100px;
                        height: 1px;
                        background: grey;

                    }
                }

                .home-link {
                    margin-top: 40px;

                    a {
                        color: white;
                        padding: 8px 16px;
                        border-radius: 3px;
                        display: flex;
                        justify-content: center;
                        text-decoration: none;
                        align-items: center;
                        background: var(--secondary-color);
                        gap: 5px;

                        &:hover {
                            border: 1px solid var(--secondary-color);
                            background: transparent;
                        }

                        .arw-icon {
                            animation: ltr 1s infinite alternate-reverse ease-in-out;
                        }
                    }

                }

            }
        }

        .right-wrap {
            width: 40%;
            height: 100%;
            // border: 1px solid ghostwhite;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding: 25px;
            box-sizing: border-box;




            h1 {
                font-family: var(--secondary-font);

            }

            p {
                a {
                    color: var(--secondary-color);
                    text-decoration: none;
                }
            }

            form {
                width: 100%;
                height: 100%;
                margin-top: 30px;
                // border: 1px solid azure;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;
                overflow-x: hidden;
                overflow-y: auto;

                &::-webkit-scrollbar {
                    display: none;
                }

                .row {
                    width: 70%;
                    height: 35px;
                    // border-radius: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .icon-input-wrap {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 2px solid var(--secondary-color);
                        gap: 10px;


                        input {
                            width: 100%;
                            height: 100%;
                            border: none;
                            background: transparent;
                            outline: none;
                            color: whitesmoke;
                            font-size: 15px;

                            &::placeholder {
                                color: white;
                            }



                        }
                    }


                    .register-btn {
                        padding: 10px 20px;
                        background: var(--secondary-color);
                        color: white;
                        border-radius: 5px;
                        border: none;
                        outline: none;

                        &:hover {

                            background: transparent;
                            border: 2px solid var(--secondary-color);

                        }


                    }

                    .password-wrap {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 2px solid var(--secondary-color);
                        gap: 10px;

                        input {
                            width: 100%;
                            height: 100%;
                            border: none;
                            background: transparent;
                            outline: none;
                            color: whitesmoke;
                            font-size: 15px;
                            &::placeholder{
                                color: white;
                            }

                        }

                        button {
                            width: 35px;
                            height: 100%;
                            background: transparent;
                            border: none;
                            outline: none;
                            color: whitesmoke;

                        }

                    }

                }


            }
        }

    }
}

@keyframes bubble {
    0% {
        bottom: -100%;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        bottom: 100%;
        opacity: 0;
    }
}

@keyframes ltr {

    from {
        translate: -5px 0 0;
    }

    to {
        translate: 5px 0 0;
    }

}

@media screen and (max-width : 990px) {

    .register-page {


        .register-wrap {
            width: 100%;
            height: 100%;
            flex-direction: column;
            background-position: -200px bottom;
            padding: 0;

            .left-wrap {
                height: 50px !important;
                // border: 1px solid;
                width: 100%;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                padding: 15px 0;

                .logo {
                    height: 200px;

                    img {
                        width: 100px;
                    }
                }


                .left-details {
                    display: none;

                }
            }

            .right-wrap {
                width: 100%;
                height: 100%;
                margin-bottom: 100px;
                gap: 10px;
                // overflow: hidden;

                form {
                    margin: 60px;
                    overflow: hidden;

                    .row {
                        width: 90%;
                    }
                }
            }
        }
    }



}