.Eventpage {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .eventpage-wrap {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .event-banner {
            width: 100%;
            height: 84vh;
            border: 2px solid white;
            position: relative;

            .event-angrybird {
                width: 250px;
                height: 250px;
                // margin-top: 300px;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0.4;
            }

            .event-robot {
                width: 250px;
                height: 250px;
                position: absolute;
                bottom: 0%;
                right: 0;
                opacity: 0.4;


            }

        }


        .eventnav {
            width: 100%;
            border-bottom: 1px solid;
            border-color: var(--secondary-color);

            // background-color: rgb(235, 229, 229);
            .event-navmenu {
                height: 100%;
                padding-left: 30px;
                // border: 1px solid;
                display: flex;
                list-style: none;
                justify-content: flex-start;
                gap: 80px;
                align-items: center;
                margin: 15px;

                li {
                    padding: 7px;
                    // border: 1px solid rgb(249, 246, 246);
                    border-radius: 2px;

                    &:hover {
                        // background-color:var(--secondary-color)
                        border: 1px solid white;
                    }

                    a {
                        text-decoration: none;
                        color: rgb(239, 234, 234);
                        font-size: 20px;
                        font-weight: 700;

                        // &:hover{
                        //     // color: rgb(19, 9, 9);
                        // }
                        .diff-font {
                            color: var(--secondary-color);
                            font-family: "samarkan";
                        }
                    }

                }
            }
        }

        .event-detail {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 50px 0;

            .event-wrapdetail {
                width: 95%;
                // border: 2px solid white;

                .event-shaurya {
                    width: 100%;

                h1{
                    color: var(--secondary-color);
                    font-family: "samarkan";
                    font-size: 5vw;
                    letter-spacing: 3px;
                }
                h2{
                    color: aliceblue;
                    font-size: 2vw;
                    font-family:"Mulish";
                }
                .shaurya-details{
                    width: 100%;
                    position: relative;
                    top: 40px;
                p{
                    color:aliceblue;
                    text-align:left;
                    font-size: 20px;
                    font-family:var(--secondary-font
                    );
                }
                }
                }
                
            }

        }
    }


}