// @import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Taviraj:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@font-face {
  font-family: "Samankaran";
  /*Can be any text*/
  src: local("Sman"),
    url("./Assets/fonts/Sman.ttf") format("truetype");
}

:root {
  --main-color: #1b0509;

  // --secondary-color: #f5a403;
  --secondary-color: #a5730e;
  --third-color:#75674c;
  --text-color:rgb(186, 186, 186);
  --main-font: sans-serif;
  --secondary-font:"Mulish";

  
}

* {
  margin: 0;
  padding: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px white, 0 0 40px white, 0 0 50px white, 0 0 60px white, 0 0 70px white, 0 0 80px white;
  }
}

// UTILItY CLASSES

.main-highlight{
  color: var(--main-color);
  font-style: italic;
  font-weight: bold;
}
