.homepage {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .wrap-home {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .section {
            width: 100%;

            .wrap-section {
                width: 100%;

                .header {
                    width: 100%;
                    height: 84vh;
                    
                    background: url("https://ik.imagekit.io/dexo68yudb/Picsart_23-03-02_01-19-45-013.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1677700210455");
                    background-size: cover;
                    background-position:center;
                    position: relative;


                    .overlay {
                        width: 100%;
                        height: 100%;
                        background: url("https://ik.imagekit.io/egjzyz51e/19Nx.gif?ik-sdk-version=javascript-1.4.3&updatedAt=1677688142789");
                        background-size: cover;
                        background-position: center;
                        opacity: 0.03;
                    }

                    .headerfade-lft {
                        position: absolute;
                        left: -11%;
                        bottom: -35%;
                        object-position: top;
                        object-fit: cover;
                        opacity: 0.2;
                        width: 800px;
                        z-index: 5;
                    }
                    .headerfade-right {
                        position: absolute;
                        right: -11%;
                        bottom: -35%;
                        object-position: top;
                        object-fit: cover;
                        opacity: 0.2;
                        width: 800px;
                        z-index: 5;
                    }


                }

                // BANNER
                .section-1{
                    // margin-top: 50px;
                    width: 100%;
                    // height: 30vh;
                    .banner{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // border: 1px solid lightgoldenrodyellow;
                        font-family: "samarkan";
                        color: var(--secondary-color);
                        font-size: 2vw;
                    }
                }
            }
        }
    }
}


@media screen  and (max-width:991px){
    .homepage{
        .wrap-home{
            .section{
                .wrap-section{
                    .header{
                        background: url("https://ik.imagekit.io/dexo68yudb/Picsart_23-03-02_01-44-34-069.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1677701794986");
                        background-size: cover;
                        background-position: center;
                        .overlay{
                            opacity: 0.12;
                        }
                        .headerfade-lft,.headerfade-right{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
}