.homepage {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    .wrap-home {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        .section {
            width: 100%;

            .wrap-section {
                width: 100%;

                .header {
                    width: 100%;
                    height: 84vh;

                    background: url("https://ik.imagekit.io/egjzyz51e/Picsart_23-03-03_20-43-27-047.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1677856473920");
                    background-size: cover;
                    background-position: center;
                    position: relative;

                    // SHADOW LOGO DESIGN
                    .shadow-logo {

                        position: absolute;
                        top: -30px;
                        left: 0;
                        font-size: 90px;
                        font-family: "Secular One", sans-serif;
                        color: rgba(213, 213, 213, 0.123);
                        text-align: start;
                        display: flex;
                        justify-content: flex-start;

                    }

                    .headerfade-lft {
                        position: absolute;
                        left: 0;
                        top: 0;
                        object-position: center 68%;
                        object-fit: cover;
                        opacity: 0.2;
                        width: 100%;
                        height: 100%;
                        z-index: 5;
                    }

                    .headerfade-right {
                        position: absolute;
                        right: 0;
                        top: 0;
                        object-position: top;
                        object-fit: cover;
                        opacity: 0.2;
                        width: 50%;
                        height: 100%;
                        z-index: 5;
                        display: none;
                    }


                }

                // BANNER
                .section-1 {
                    // margin-top: 50px;
                    width: 100%;

                    // height: 30vh;
                    .banner {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        // border: 1px solid lightgoldenrodyellow;
                        font-family: "samarkan";
                        color: var(--secondary-color);
                        margin-top: 115px;

                        h1 {
                            position: relative;
                            padding: 20px 170px;
                            letter-spacing: 3px;
                            font-size: 5vw;

                            &::after {
                                content: '”';
                                font-size: 90px;
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                // border: 1px solid maroon;
                                height: 30px;
                                width: 30px;
                            }

                            &::before {
                                content: '“';
                                font-size: 90px;
                                position: absolute;
                                top: 0;
                                left: 0;
                                // border: 1px solid maroon;
                                height: 30px;
                                width: 30px;
                            }
                        }
                    }
                }

                // CONTENT SECTION 
                .section-2 {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    margin-top: 100px;
                    background: var(--main-color);
                    padding: 80px 0;

                    .details-wrap {
                        width: 93%;

                        .about-lakshya-details {
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            flex-direction: column;
                            gap: 35px;

                            h1 {
                                font-family: 'samarkan';
                                color: var(--text-color);
                                font-size: 4vw;
                                letter-spacing: 3px;
                                font-weight: bold;

                            }

                            h3 {
                                font-family: var(--secondary-font);
                                color: var(--text-color);
                                font-size: 2vw;
                                position: relative;
                                padding: 20px 0;

                                &::before {
                                    content: "";
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 3px;
                                    background: white;

                                }

                                &::after {
                                    content: "";
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 30%;
                                    height: 6px;
                                    background: var(--secondary-color);

                                }
                            }

                            .about-wrap {
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                align-items: flex-start;

                                .abt-wrap-left {
                                    width: 100%;
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: flex-start;
                                    flex-direction: column;
                                    gap: 25px;

                                    p {
                                        font-size: 22px;
                                        color: var(--text-color);
                                        text-align: justify;
                                        font-family: var(--secondary-font);


                                    }
                                }
                            }


                        }

                    }
                }



            }
        }
    }
}


@media screen and (max-width:991px) {
    .homepage {
        .wrap-home {
            .section {
                .wrap-section {
                    .header {
                        background: url("https://ik.imagekit.io/egjzyz51e/Picsart_23-03-03_21-13-11-411.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1677859040876");
                        background-size: cover;
                        background-position: center;

                        .overlay {
                            opacity: 0.12;
                        }

                        .headerfade-lft {
                            width: 100%;
                            height: 100%;
                        }

                        .headerfade-right {
                            display: none;
                        }
                    }

                    // SECTION 1

                    .section-1 {
                        .banner {
                            margin-top: 20px;
                            overflow: hidden;

                            h1 {

                                padding: 0;
                                width: 100%;

                                text-align: center;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                font-size: 8vw;
                                z-index: 2;

                                &::before {
                                    content: '';
                                    width: 100%;
                                    left: 0;
                                    height: 1px;
                                    background: var(--secondary-color);
                                    top: 27%;
                                    rotate: -8deg;
                                    opacity: 0.3;
                                    z-index: 1;


                                }

                                &::after {
                                    content: '';
                                    width: 100%;
                                    left: 0;
                                    height: 1px;
                                    background: var(--secondary-color);
                                    top: 27%;
                                    rotate: 8deg;
                                    opacity: 0.3;
                                    z-index: 1;


                                }


                            }
                        }
                    }

                    // SECTION 2
                    .section-2 {
                        .details-wrap {
                            .about-lakshya-details {
                                gap: 10px;

                                h1 {
                                    font-size: 40px;
                                }

                                h3 {
                                    font-size: 20px;
                                }

                                .about-wrap {
                                    margin-top: 20px;

                                    .abt-wrap-left {
                                        p {
                                            font-size: 15px;
                                        }
                                    }
                                }

                            }
                        }

                    }
                }
            }
        }
    }

}